<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="/cars/1">
           <img src="/images/carlogo.png" alt="car logo" class="image"> 
         </a>
           <div class="right-menu">
            <% console.log(user.currentUser)%>
            <% if (user.currentUser) { %>
                
                <a href="/logout">Logout</a> 
                <form action="/delacc/<%=userProfile.id%>?_method=Delete" method="post">
                    <button type="submit" class="delete" >Delete Account</button>
                </form>
          </nav>
        </header>
             
            <% }  else { %>
              
                   
                       <a href="/login">Login</a>
                       <a href="/create">Register</a>
                       
            </div> 
                </nav>
                </header>
            <% }%>
    
        
     
      

    
  
    <section>
        <h2>Cars</h2>
        <section class="addcar">
            <%if(flag){%>  
                <a href="/cars/new" id="add">Add New car</a>
               
                  <% } %> 
                </section>
        <div class="profileshow">
        <%cars.forEach(car => { %>
            <div class="car">
            <img src="<%=car.img[0]%>"  width="200px" height="200px">
       
            <p><a href="/cars/<%= car._id %>/new"><%= car.name %> </a></p>
             <p>Price: <%= car.price %> </p>   
           
           
            <% if(flag){ %>
                <a href="/cars/<%= car._id %>/edit" id="edit">Edit</a>
                <p>
                <form action="/cars/<%= car._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
            </form>
        </p>
    
            <% }%>
        </div>       
        <% }) %>

        </div>
    </section>
    
        
     
</body>
</html>