<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="/cars?page=1">
           <img src="/images/carlogo.png" alt="car logo" class="image"> 
         </a>
           <div class="right-menu">
            <% console.log(user.currentUser)%>
            <% if (user.currentUser) { %>
             
                <a href="/logout">Logout</a> 
            
          </nav>
        </header>
            
            <% }  else { %>
              
                   
                       <a href="/login">Login</a>
                       <a href="/create">Register</a>
                       
            </div> 
                </nav>
                </header>
            <% }%>
            <h1 class="editform">Edit <%= car.name %> </h1>
            <div class="contain">
            <div class="formnew">
        
        <form action="/cars/<%= car._id %>?_method=PUT " method="post">
            <p>
                Name: <input type="text" name="name" value="<%= car.name %>" />
             </p>
             <p>
               Price: <input type="number" name="price" value="<%= car.price %>" />
             </p>
             <p>
                Year: <input type="number" min="1900" max="2020" name="year" value="<%= car.year %>" />
             </p>
             <p>
                Mileage: <input type="number" name="mileage" value="<%= car.mileage %>" />
             </p>
             <p>
                Description: <textarea name="description" placeholder="description" ></textarea>
             </p>
             <p>
                 <input type="submit" value="Update" class="submit">
             </p>
        </form>
    </div>
</div>
</body>
</html>