<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  

  <title>Home Page</title>
</head>
<%  page= Number(page);  %>

<body>
  <header>
    <nav>
        <a href="/cars/1">
       <img src="/images/carlogo.png" alt="car logo" class="image"> 
     </a>
       <div class="right-menu">
        <% if (user.currentUser) { %>
          <a href="/profile/<%=user.currentUser.id%>" class="profile">Profile</a>
         
        <a href="/logout">Logout</a> 
         </form>
         
      </nav>
    </header>
         
        <% }  else { %>
          
               
                   <a href="/login">Login</a>
                   <a href="/create">Register</a>
                   
        </div> 
            </nav>
            </header>
        <% }%>
         
 <section class="advertise">

 </section>
 <div class="sort">
 <form action="/cars/<%=page%>" method="get">
<select id="sortby" name="sortby" >
  <option value="price">Price</option>
  <option value="mil">Miles</option>
  <option value="year">Year</option>
  </select>
  <button type="submit" id="submit">Submit</button>
</div>
 <div class = "container1">
  
   <% for( let i =0+((4*page)-4) ; i < cars.length && i < 4*(page) ; i++) { %>
    <div class="car">
      <img src="<%=cars[i].img[0]%>"  height="150px" width="150px" alt="" srcset="">
      <%= cars[i].secondid.length %>
      <div class="name">
      <a href="/cars/<%= cars[i]._id %>/new"><%= cars[i].name %> </a>
      </div>  
      <div class='text'>
      Price: <%= cars[i].price %>
      </div>  
    </div>
      <% } %>
      <div class="page">
      <nav aria-label="..." name='nav'>
        <ul class="pagination pagination-sm" name='ul'>
          <li class="page-item " name='page'> 
          
              <a class="page-link"  
              <%if(page-1!=0){%>
              href="/cars/<%=page-1%>"  
              <%} %>
              >Previous</a>    
          </li>
          <li class="page-item " name='page'> 
           
              <a class="page-link" href="/cars/<%=page%>"  ><%=page%></a>    
                 
          </li>
          <li class="page-item " name='page'> 
              <a class="page-link" 
              <%if(page<(cars.length/4)){%>
               <% if(sort){ %>
                 href="/cars/<%=page+1%>?sortby=<%=sort%>" 
               <%}%>
                href="/cars/<%=page+1%>"  
                <%} %>
              >Next</a>    
                 
          </li>
        </ul>
      </nav>
    </div>
</div>
<footer class = "footer">

</footer>
</body>
</html>