<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Details Page</title>
</head>
<body>
    <section>
        
        </ul>
        <h2>Car Details</h2>
        <ul>
            <p><li>Name: <%= car.name %>  </li></p>
            <p><li>Price: <%= car.price %> </li></p>
            <p><li>Year: <%= car.year %> </li></p>
            <p><li>Mileage: <%= car.mileage %> </li></p>
            <p><li>Description: <%= car.description %> </li></p>
        </ul>
    </section>
</body>
</html>